template {
  destination = "{{ item.destination }}"

{% if item.contents|default(false) %}
  contents = "{{ item.contents }}"
{% else -%}
  source = "{{ consul_template_work_dir }}/{{ item.source.split('/')[-1] }}"
{% endif -%}

{% if item.command|default(false) %}
  command = "{{ item.command }}"
{% endif -%}

{% if item.command_timeout|default(false) %}
  // This is the maximum amount of time to wait for the optional command to
  // return. Default is 30s.
  command_timeout = "{{ item.command_timeout }}"
{% endif %}
  perms = {{ item.perms|default('0644') }}
  backup = {{ item.backup|default(true)|bool|lower }}
{% if item.left_delimiter|default(false) %}
  left_delimiter  = "{{ item.left_delimiter }}"
{% endif -%}
{% if item.left_delimiter|default(false) %}
  right_delimiter  = "{{ item.right_delimiter }}"
{% endif -%}

{% if item.wait|default(false) %}
  wait {
    min = "{{ item.wait.min|default('2s') }}"
    max = "{{ item.wait.max|default('10s') }}"
  }
{% endif -%}
}
